.table-responsive
  %table.table
    %thead
      %tr
        %th Name
        %th Read
        %th Stars
        %th Summary
        %th Thoughts
        - if @books.count > 0
          %th
          %th

    %tbody
      - @books.each_with_index do |book, index|
        %tr{ class: (index.odd? ? 'odd' : 'even') }
          %td= link_to book.full_name.html_safe, book
          %td= book.range.html_safe
          %td= stars( book )
          %td= book.summary.to_s.truncate(15)
          %td= book.thoughts.to_s.truncate(15)
          %td
            = link_to edit_book_path(book) do
              .glyphicon.glyphicon-check
          %td
            = link_to book, data: { confirm: 'Are you sure?' }, method: :delete do
              .glyphicon.glyphicon-trash
  .container{ style: 'text-align: center' }
    = link_to new_book_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      Add Book
