= form_for @book, html: { class: "form-horizontal new", role: "form" } do |f|
  -if @book.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"

      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  .form-contents
    .form-group
      = f.text_field :name, class: 'form-control', placeholder: 'Name'
    .form-group
      = f.text_field :author, class: 'form-control', placeholder: 'Author'
    .form-group{ style: 'text-align: center' }
      = f.submit "Save Book", class: 'btn btn-primary'
