.container.book-show

  .links
    = link_to books_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_book_path(@book), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit

  .inner-container
    .show-title= @book.full_name.html_safe

    %h4= "(#{ @book.range(false) })".html_safe

    %h3= stars( @book )

    %br

    %h4= "“#{ @book.summary }”"

  .container.thoughts-container
    %p= md( @book.thoughts || '' )
